EngineService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="urn:hpexstream-services/Engine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:hpexstream-services/Engine" name="EngineService">
  <types>
    
      <xs:schema xmlns:tns="urn:hpexstream-services/Engine" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="urn:hpexstream-services/Engine">

  <xs:element name="Compose" type="tns:Compose"></xs:element>

  <xs:element name="ComposeResponse" type="tns:ComposeResponse"></xs:element>

  <xs:element name="EngineServiceException" type="tns:EngineServiceException"></xs:element>

  <xs:complexType name="Compose">
    <xs:sequence>
      <xs:element name="EWSComposeRequest" type="tns:ewsComposeRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ewsComposeRequest">
    <xs:sequence>
      <xs:element name="driver" type="tns:driverFile" minOccurs="0"></xs:element>
      <xs:element name="driverEncoding" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="engineOptions" type="tns:engineOption" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="fileReturnRegEx" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="includeHeader" type="xs:boolean"></xs:element>
      <xs:element name="includeMessageFile" type="xs:boolean"></xs:element>
      <xs:element name="outputFile" type="tns:output" minOccurs="0"></xs:element>
      <xs:element name="pubFile" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pubFiles" type="tns:pubFiles" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="driverFile">
    <xs:sequence>
      <xs:element name="driver" type="xs:base64Binary" minOccurs="0"></xs:element>
      <xs:element name="fileName" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="engineOption">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="value" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="output">
    <xs:sequence>
      <xs:element name="directory" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fileName" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pubFiles">
    <xs:sequence>
      <xs:element name="pubFile" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ComposeResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:ewsComposeResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ewsComposeResponse">
    <xs:sequence>
      <xs:element name="engineMessage" type="xs:base64Binary" minOccurs="0"></xs:element>
      <xs:element name="files" type="tns:engineOutput" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="statusMessage" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="engineOutput">
    <xs:sequence>
      <xs:element name="fileHeader" type="tns:header" minOccurs="0"></xs:element>
      <xs:element name="fileName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fileOutput" type="xs:base64Binary" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="header">
    <xs:sequence>
      <xs:element name="DDAOutputFile" type="xs:boolean"></xs:element>
      <xs:element name="defaultExtension" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fileType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="messageLength" type="xs:int"></xs:element>
      <xs:element name="outputLength" type="xs:int"></xs:element>
      <xs:element name="PDL" type="xs:int"></xs:element>
      <xs:element name="pageCount" type="xs:int"></xs:element>
      <xs:element name="returnCode" type="xs:int"></xs:element>
      <xs:element name="userData" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="userDataLength" type="xs:int"></xs:element>
      <xs:element name="version" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EngineServiceException">
    <xs:sequence>
      <xs:element name="faultInfo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
    
  </types>
  <message name="Compose">
    <part name="parameters" element="tns:Compose"></part>
  </message>
  <message name="ComposeResponse">
    <part name="parameters" element="tns:ComposeResponse"></part>
  </message>
  <message name="EngineServiceException">
    <part name="fault" element="tns:EngineServiceException"></part>
  </message>
  <portType name="EngineWebService">
    <operation name="Compose">
      <input wsam:Action="urn:hpexstream-services/Engine:EngineWebService:ComposeRequest" message="tns:Compose"></input>
      <output wsam:Action="urn:hpexstream-services/Engine:EngineWebService:ComposeResponse" message="tns:ComposeResponse"></output>
      <fault message="tns:EngineServiceException" name="EngineServiceException" wsam:Action="urn:hpexstream-services/Engine:EngineWebService:Compose:Fault:EngineServiceException"></fault>
    </operation>
  </portType>
  <binding name="EngineServicePortBinding" type="tns:EngineWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
    <operation name="Compose">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="EngineServiceException">
        <soap:fault name="EngineServiceException" use="literal"></soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="EngineService">
    <port name="EngineServicePort" binding="tns:EngineServicePortBinding">
      <soap:address location="http://http://18.191.199.208:8081/EngineService/EngineService"></soap:address>
    </port>
  </service>
</definitions>